<md-card class="card" mdFlex>
  <md-card-header>
    <div md-card-avatar><img class="creatorAvatar" src="{{feedback.subscriber.pictureURL}}"/></div>
      <md-card-title>{{feedback.subscriber.name}} - <i *ngFor="let i of starArr" class="material-icons star">star</i></md-card-title>
  </md-card-header>
  <md-card-content>
    {{feedback.feedbackComment}}
  </md-card-content>
</md-card>
