<br>
<button md-button style="border: 1px  solid #5bc58e " [mdMenuTriggerFor]="menu" [disabled]="!canEditStatus" color="">
  {{currentEvent.status | removeUnderscore | lowercase | capitalize}}

</button>
<md-menu #menu="mdMenu">
  <button md-menu-item *ngFor="let status of statuses" (click)="changeStatus(status)">
    <md-icon>keyboard_arrow_right</md-icon>
    <span>{{status | removeUnderscore | lowercase | capitalize}}</span>
  </button>
</md-menu>
