<h1 md-dialog-title>Login</h1>
<form [formGroup]="logInUser">
  <p class="signInText">Login with Google account</p>
  <md-dialog-content>
    <div>
      <button md-button class="loginBtn loginBtn--google" (click)="googleLogIn()" type="button">Google Login</button>
      <hr class="signInBorder">
    </div>
       <p class="signInText">Login with Evento account</p>
    <div>
      <md-form-field  class="signInField">
        <input  mdInput maxlength="150" formControlName="username" placeholder="Username*">
        <md-error>Username must be at least 3 characters long.</md-error>
      </md-form-field>
    </div>
    <div>
      <md-form-field class="signInField">
        <input mdInput type="password" formControlName="password" placeholder="Password*">
      </md-form-field>
    </div>
  </md-dialog-content>
  <span style="font-size:12px; color:red"
        *ngIf="isLoginSuccessed">Invalid username/password. Please, try again!</span>

  <md-dialog-actions>
    <button md-button (click)="onCancel()" type="button">Cancel</button>
    <button md-button [disabled]="!logInUser.valid" type="submit" (click)="onSubmit()">
      Login
    </button>
  </md-dialog-actions>
</form>
