.title {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #707070;
  margin: 3%;
  font-size: 18px;
}

.h2 {
  margin: 10px;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 10%;
}

.margin {
  margin: 0 10px;
}

md-radio-button {
  display: inherit;
  padding: 4%;
}

md-radio-group {
  margin-top: 18%;
  margin-bottom: 10%;
  margin-left: 3%;
}

.mailSubject {
  width: 60%;
  padding-left: 1%;
  margin-bottom: 3.5%;
}

.mailSubjectInput {
  width: 60%;
}

md-card {
  width: 65%;
  border-right: 1px solid #5bc58e;
  border-bottom: 1px solid #5bc58e;
}

md-card-content {
  padding-left: 2%;
}

.templateLabel {
  color: #808080;
  padding-left: 1%;
}

.group-chip {
  margin: 0;
}

md-chip-list.mat-chip-list {
  display: inline-block;
}

.uploaded {
  font-size: 15px;
  color: #808080;
  margin-left: 2px;
  font-weight: 600;
}

.uploadButton {
  margin-left: 3%;
  border: 1px solid #5bc58e;
}
