<p class="title">Upload e-mail template</p>
<md-card>
  <button (click)="getAllTemplateTypes()" md-raised-button>{{showValue}} uploaded templates
  </button>
  <br>
  <div style="margin-left:10px;" [hidden]="!show">
    <br>
    <md-chip-list >
      <md-chip *ngFor="let template of templates"  class="group-chip" color="primary" (click)="downloadTemplate(template.type)">
        {{template.type | templateRename}}
      </md-chip>
      <md-chip class="group-chip" color="primary" (click)="downloadTemplate('default_templates')">
        default templates
      </md-chip>
    </md-chip-list>
  </div>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <br>
        <md-form-field class="mailSubject">
          <input mdInput placeholder="Subject" type="text" class="mailSubjectInput" id="subject"
                 [(ngModel)]="subject" name="subject" (focus)="inFocus = true" (blur)="inFocus = false">
          <md-hint align="start" *ngIf="inFocus">
            Subject of the sent e-mail should contain at least 3 characters.
          </md-hint>
        </md-form-field>
      </div>
      <label class="templateLabel">Choose template type:</label>
      <section class="section">
        <md-radio-group [(ngModel)]="type" [ngModelOptions]="{standalone: true}" required="required">
          <md-radio-button name="optionsRadios" id="optionsRadios1" value="NEW">For new event</md-radio-button>
          <md-radio-button name="optionsRadios" id="optionsRadios2" value="CHANGED">For changed event</md-radio-button>
          <md-radio-button name="optionsRadios" id="optionsRadios3" value="FEEDBACK">For feedback</md-radio-button>
        </md-radio-group>
      </section>
      <md-card-content>
        <div class="btn-group">
          <span mdTooltip="Please upload an HTML file for the e-mail content.">
	          <input type="file"
                   md-button style="border: 0.5px solid #5bc58e;"
                   (change)="prepareFile($event)"
                   placeholder="Upload file"
                   accept=".html">
          </span>
        </div>
        <div>
          <button id="submitFile" type="submit" [disabled]="!validateForm()" md-button
                  style="border: 1px  solid #5bc58e;margin-top:2%; ">Submit
          </button>
        </div>
      </md-card-content>
    </form>
  </div>
  <div [hidden]="!submitted">
    <div class="btn-group ">
      <p style="color:#707070;padding:3%;font-weight:20">Template for <b>{{type | lowercase}}</b> event with subject <b>{{subject}}</b>
        was uploaded successfully!</p>
      <button class="uploadButton" md-button (click)="newUpload()">Add another template</button>
    </div>
  </div>
</md-card>
