<app-add-feedback [currentEventId]="currentEventId"></app-add-feedback>
<div class="commentSection">
  <i class="material-icons">star</i>
  <h3> {{feedbacks.length}} Review(s)</h3>
  <app-feedback *ngFor="let feedback of feedbacks" [feedback]="feedback"></app-feedback>
</div>
