h3 {
  width: 100%;
  font-style: "calibri";
  font-weight: 100;
  color: #808080;
  display: inline;
  font-size: 15px;
  padding: 1%;
}

.material-icons {
  color: #808080;
  display: inline;
  font-size: 20px;
}
