.advancedSearchText {
  width: 110px;
  padding: 2%;
}

.datesInput {
  width: 14%;
}

.createdBy {
  display: inline;
  margin-left: 23%;
  color: #808080;
}

md-expansion-panel {
  margin-left: 50px;
  width: 92%;
  margin-top:1%;
}

.eventsFoundHeader {
  padding-left: 2%;
  margin-top: 4.3%;
}

.searchHeader {
  padding: 1%;
  border-bottom: 0.5px solid #ccc;
}

.mat-selected {
  color: #5bc58e;
}

option:hover {
  background: rgba(255, 200, 200, 0.6);
}

.one-indent {
  margin-left: 5px;
}

.two-indent {
  margin-left: 15px;
}

.three-indent {
  margin-left: 25px;
}

.mat-checkbox-inner-container {
  width: 3%;
  height: 3%;
}

.mat-input-underline {
  background: #5bc58e;
}

.mat-form-field-underline .mat-focused {
  background: #5bc58e;
}

.ng-trigger-expansionHeight {
  height: 100px;
}

.mat-accordion {
  margin-bottom: 0;
  margin-left: 50px;
}

md-select {
  margin-left: 5%;
  width: 14%;
}

.mat-slide-toggle-thumb {
  background-color: green;
}

.panelContent {
  display: inline-block;
  width: 250px;
}

.searchForm {
  margin-top: 2%;
}

.form-field {
  width: 270px;
  margin-left: 120px;
  margin-right: 270px;
}

@media (max-width: 1150px) and (min-width: 930px) {
  .form-field {
    margin-left: 50px;
    margin-right: 70px;
  }
}

@media (max-width: 931px) and (min-width: 835px) {
  .form-field {
    margin-left: 20px;
    margin-right: 30px;
  }
}

@media (max-width: 834px) and (min-width: 300px) {
  .form-field {
    margin-left: 10px;
    margin-right: 5px;
  }

  md-expansion-panel {
    height: 100px;
  }

  md-expansion-panel-header {
    padding-bottom: 50px;
  }

  .searchHeader {
    border-bottom: none;
  }
}

.noResults {
  padding: 3%;
  color: #707070;
}

