<md-accordion>

  <md-expansion-panel #panel [hideToggle]="hideToggle" [disabled]="disabled" style="margin-top:6%">
    <md-expansion-panel-header class="searchHeader">

      <form style="margin-left:3%">
        <div class="searchForm">

          <md-slide-toggle
            [disableRipple]="true" color="primary"
            (change)="showOld()"
            [checked]="checkedOld">
            <h5>Show Old</h5>
          </md-slide-toggle>

          <md-slide-toggle
            [disableRipple]="true" color="primary"
            (change)="showMyEvents()"
            [checked]="checkedMyEvents">
            <h5>Only my events</h5>
          </md-slide-toggle>

          <md-form-field class="form-field">
            <input mdInput [formControl]="eventCtrl" placeholder="Filter by Name" [(ngModel)]="eventFilter.name"
                   (ngModelChange)="checkForInput()"
                   aria-label="Number" [mdAutocomplete]="auto">
            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let event of filteredEventsByName | async" [value]="event.name">
                {{event.name}}
              </md-option>
            </md-autocomplete>
          </md-form-field>

        </div>
      </form>
      <h5 class="advancedSearchText">Advanced search</h5>
      <md-checkbox color="primary" (click)="resetForm()" [disableRipple]="true" style="display:flex;"
                   [(ngModel)]="panel.expanded"></md-checkbox>

    </md-expansion-panel-header>
    <form [formGroup]="newEventForm" style="margin-top:2%;">
      <div class="searchForm" style="margin-left:2%">

        <md-form-field class="datesInput">
          <input mdInput [mdDatepicker]="pickerAfter" [(ngModel)]="dateAfter" (ngModelChange)="checkForInput()"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="From date">
          <md-datepicker-toggle mdSuffix [for]="pickerAfter"></md-datepicker-toggle>
          <md-datepicker #pickerAfter></md-datepicker>
        </md-form-field>
        <h5 style="display:inline;"> to </h5>

        <md-form-field class="datesInput">
          <input mdInput [mdDatepicker]="pickerBefore" [(ngModel)]="dateBefore" (ngModelChange)="checkForInput()"
                 [ngModelOptions]="{standalone: true}">
          <md-datepicker-toggle mdSuffix [for]="pickerBefore"></md-datepicker-toggle>
          <md-datepicker #pickerBefore></md-datepicker>
        </md-form-field>

        <h5 class="createdBy">Created by:</h5>
        <md-form-field>
          <input mdInput placeholder="Creator name" [(ngModel)]="creatorName" (ngModelChange)="checkForInput()"
                 name="creatorName"
                 [formControl]="creatorCtrl" [mdAutocomplete]="autoCreator">
          <md-autocomplete #autoCreator="mdAutocomplete">
            <md-option *ngFor="let event of filteredEventsByCreator | async" [value]="event.creator.name">
              {{event.creator.name}}
            </md-option>
          </md-autocomplete>
        </md-form-field>

        <md-select multiple placeholder="Statuses" (change)="checkForInput()" mdFlex name="status" multiple
                   [(ngModel)]="eventFilter.status.$or" [ngModelOptions]="{standalone: true}">
          <md-option *ngFor="let status of statuses" value="{{status}}">{{status | lowercase | removeUnderscore |
            capitalize}}
          </md-option>
        </md-select>
      </div>
    </form>
  </md-expansion-panel>
</md-accordion>

<md-expansion-panel expanded="true" *ngIf="checkedOld">
  <md-expansion-panel-header class="eventsFoundHeader">
    <md-panel-title>
      Old events
    </md-panel-title>
  </md-expansion-panel-header>
  <div class="panelContent"
       *ngFor="let event of events | filterBy: eventFilterOld |  compareCreator : creatorName | compareDateAfter: dateAfter | compareDateBefore: dateBefore | filterBy: eventFilter"
       [routerLink]="['/events', event.id ]">
    <app-event [event]="event"></app-event>
  </div>
  <div class="noResults"
       *ngIf="(events | filterBy: eventFilterOld |  compareCreator : creatorName | compareDateAfter: dateAfter | compareDateBefore: dateBefore | filterBy: eventFilter).length === 0">
    No results matching this input.
  </div>
</md-expansion-panel>

<md-expansion-panel expanded="true" *ngIf="!checkedOld && !checkedMyEvents && anyInput">
  <md-expansion-panel-header class="eventsFoundHeader">
    <md-panel-title>
      Found events
    </md-panel-title>
  </md-expansion-panel-header>
  <div class="panelContent"
       *ngFor="let event of events | compareCreator : creatorName | compareDateAfter: dateAfter | compareDateBefore: dateBefore | filterBy: eventFilter"
       [routerLink]="['/events', event.id ]">
    <app-event [event]="event"></app-event>
  </div>
  <div class="noResults"
       *ngIf="(events | compareCreator : creatorName | compareDateAfter: dateAfter | compareDateBefore: dateBefore | filterBy: eventFilter).length === 0">
    No results matching this input.
  </div>
</md-expansion-panel>

<md-expansion-panel expanded="true" *ngIf="checkedMyEvents">
  <md-expansion-panel-header class="eventsFoundHeader">
    <md-panel-title>
      My events
    </md-panel-title>
  </md-expansion-panel-header>
  <div class="panelContent"
       *ngFor="let event of events | myEvents : id |  compareCreator : creatorName | compareDateAfter: dateAfter | compareDateBefore: dateBefore | filterBy: eventFilter"
       [routerLink]="['/events', event.id ]">
    <app-event [event]="event"></app-event>
  </div>
  <div class="noResults"
       *ngIf="(events | myEvents : id |  compareCreator : creatorName | compareDateAfter: dateAfter | compareDateBefore: dateBefore | filterBy: eventFilter).length === 0">
    No results matching this input.
  </div>
</md-expansion-panel>
