<div style="text-align: center; margin-top: 10%">
  I Have Read and Agree to  <a target="_blank" routerLink="/termsAndConditions">These Terms and Conditions</a>
  <div style="margin-bottom: 24%; margin-top: 5%"><button  md-button style="border:1px solid #5bc58e;" (click)="acceptTermsAndConditions()">
    Accept
  </button>
  <button md-button style="border:1px solid #5bc58e;" (click)="rejectTermsAndConditions()">
    Reject
  </button></div>
</div>
