<md-button-toggle-group #group="mdButtonToggleGroup" *ngFor="let type of subscriptionTypes">
  <md-button-toggle class="subs-button"
                    (click)="changeSubscription(type)"
                    [ngClass]="{'subscribed' : currentSubscription === type}">
    <span>{{type | removeUnderscore | lowercase | capitalize}}</span>
  </md-button-toggle>
</md-button-toggle-group>
