.mat-card.mat-card[_ngcontent-c3] {
  height: 450px;
}

.mat-card.mat-card {
  width: 86%;
  margin: auto;
  height: auto;
  padding: 3%;
}

.wrapper {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.wrapper img {
  width: 450px;
  height: auto;
  margin: 12px;
}

#event-details-wrapper {
  margin-top: 3%;
  position: absolute;
  top: 0;
}

.reportBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
}

.edit_event {
  float: right;
  margin-right: 0;
  margin-top: 0;
}

.mat-card-content > :first-child, .mat-card > :first-child {
  width: 45%;
  height: auto;
}

#subscription-buttons {
  clear: both;
  margin-top: 2%;
}

md-chip-list.mat-chip-list {
  display: inline-block;
}

.mat-chip:not(.mat-basic-chip) {
  margin-right: 10px;
}

.mat-card-content {
  display: block;
  margin-bottom: 16px;
  max-height: 100px;
  white-space: pre-line;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

md-card-title {
  height: 50px;
  margin-left: 2px;
  word-wrap: break-word;
}

@media (max-width: 1100px) and (min-width: 1031px) {
  .wrapper img {
    width: 370px;
  }

  .reportBtn {
    margin-left: 85%;
  }
}

@media (max-width: 1030px) and (min-width: 985px) {
  .wrapper img {
    width: 360px;
  }

  .reportBtn {
    margin-left: 85%;
  }
}

@media (max-width: 986px) and (min-width: 827px) {
  .wrapper img {
    width: 300px;
  }

  #event-details-wrapper {
    margin-top: 50px;
  }

  .reportBtn {
    margin-left: 85%;
  }
}

@media (max-width: 826px) and (min-width: 600px) {
  .wrapper img {
    width: 200px;
  }

  #event-details-wrapper {
    margin-top: 50px;
  }

  .reportBtn {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .mat-card-content[_ngcontent-c10] > [_ngcontent-c10]:first-child, .mat-card[_ngcontent-c10] > [_ngcontent-c10]:first-child {
    height: 550px;
  }
}

@media (max-width: 599px) and (min-width: 100px) {
  .wrapper img {
    width: 200%;
    opacity: 0.1;
  }

  #event-details-wrapper {
    width: 100%;
    display: block;
    margin-top: 50px;
  }

  .attendees-count-wrapper {
    visibility: hidden;
  }

  .reportBtn {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .mat-card-content[_ngcontent-c10] > [_ngcontent-c10]:first-child, .mat-card[_ngcontent-c10] > [_ngcontent-c10]:first-child {
    height: 550px;
  }
}
