<md-card>
  <div class="wrapper">
    <img class="event-image" *ngIf="currentEvent.havingPicture" style="height: 20em; object-fit: contain"
         md-card-lg-image
         [src]="getPictureName()"
         onerror="this.src='http://x.kinja-static.com/assets/images/logos/placeholders/default.png'">
    <img class="event-image" *ngIf="!currentEvent.havingPicture" style="height: 20em; object-fit: contain"
         md-card-lg-image
         src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png">
    <md-card-subtitle>
      <div class="attendees-count-wrapper">
        <p>Going: {{goingAttendeesCount}}</p>
        <p>Interested: {{interestedAttendeesCount}}</p>
      </div>
      <md-chip-list *ngFor="let group of currentEvent.assignedGroups">
        <md-chip class="group-chip" color="primary">{{group.name}}</md-chip>
      </md-chip-list>
    </md-card-subtitle>
  </div>

  <div class="wrapper" id="event-details-wrapper">
    <app-edit-event *ngIf="canEdit()" class="edit_event" [event]="currentEvent" [eventId]="currentEvent.id"></app-edit-event>
    <md-card-subtitle>Date: {{ date() | date:'dd.MM.yyyy, H:mm'}}</md-card-subtitle>
    <md-card-subtitle>Registration end: {{dueDate() | date:'dd.MM.yyyy, H:mm'}}</md-card-subtitle>
    <md-card-title>{{currentEvent.name}}</md-card-title>
    <md-card-content>{{currentEvent.description}}</md-card-content>
    <md-card-content><p><md-icon class="location-icon">location_on</md-icon> {{currentEvent.location}}</p></md-card-content>
    <md-card-subtitle>
      <a [attr.href]=currentEvent.link>{{currentEvent.link}}</a>
    </md-card-subtitle>
    <md-card-subtitle>
    <p style="margin-bottom:-2%;padding:1.2%;margin-left:1%;"> Overall rating:</p>
      <app-stars [id]="currentEvent.id" [rating]="eventRating">
      </app-stars>
    </md-card-subtitle>
    <md-card-subtitle id="subscription-buttons">
      <app-subscription-buttons [eventId]="currentEvent.id"
                                *ngIf="currentEvent.status === 'OPEN_FOR_ENROLLMENT'"
                                (changedAttendeesCount)="calculateAttendeesCount()"></app-subscription-buttons>
      <app-status-menu [eventId]="currentEvent.id" [currentEvent]="currentEvent" [canEditStatus]="canEdit()"></app-status-menu>
    </md-card-subtitle>

  </div>
  <button class="reportBtn" md-button style="border:1px solid #5bc58e; margin:2em" (click)="generateReport(currentEvent.id)">
    Export report
  </button>
  <app-upload-picture [showUploading]="showUploading" (pictureChanged)="reloadContent()" [event]="currentEvent" *ngIf="canEdit()"></app-upload-picture>
</md-card>


