<div class="panel">
	<app-event-details [currentEvent]="currentEvent" [eventRating]="feedback.rating"></app-event-details>

	<div class="commentSection">
	  <md-tab-group>
	    <md-tab label="Comments">
	      <app-comment-section class="eventsComponent"></app-comment-section>
	    </md-tab>
	    <md-tab label="Feedback">
	      <app-feedback-section [feedbacks]="feedback.feedbacks"></app-feedback-section>
	    </md-tab>
	  </md-tab-group>
	</div>
</div>
