md-form-field {
  margin-top: 30px;
  width: 500px;
}

.commentSection {
  padding: 2%;
  margin-left: 3%;
  width: 90%;
}

.feedbackSection {
  padding: 2%;
  margin-left: 3%;
  width: 90%;
}

.panel {
	margin-top:5%;
}
