<div class="picture-upload-div">
  <div class="picture-upload">
    <button md-raised-button onclick="document.getElementById('pic-upload').click()">
      <md-icon class="material-icons">file_upload</md-icon>
      <label>Upload Picture</label>
    </button>
    <input class="cdk-visually-hidden"
           id="pic-upload" type="file"
           (change)="uploadPicture($event)"
           accept=".jpg">
    <div *ngIf="showError">Failed to upload (max size 2MB)</div>
    <div *ngIf="showUploading">Uploading...</div>
  </div>
</div>
