<div style="margin-top: 1%" layout="row" layout-wrap>
  <div flex="100" flex-gt-sm="50" layout="column">
    <div>
      <span class="info">Turn on/off email notification for specific kind of event.</span>
      <div style="margin-left: 2%; margin-top: 2%;" *ngFor="let subscriber of userNotifications">
        <md-checkbox *ngIf="subscriber.mailTemplates.type === 'NEW'" color="primary" [checked]="subscriber.enabled"
                     (change)="changeStatusForSubscriber(subscriber)">{{subscriber.mailTemplates.type | lowercase |
          capitalize}} - New event created notification
        </md-checkbox>
        <md-checkbox *ngIf="subscriber.mailTemplates.type === 'CHANGED'" color="primary" [checked]="subscriber.enabled"
                     (change)="changeStatusForSubscriber(subscriber)">{{subscriber.mailTemplates.type | lowercase |
          capitalize}} - event details changed notification
        </md-checkbox>
        <md-checkbox *ngIf="subscriber.mailTemplates.type === 'FEEDBACK'" color="primary" [checked]="subscriber.enabled"
                     (change)="changeStatusForSubscriber(subscriber)">{{subscriber.mailTemplates.type | lowercase |
          capitalize}} reminder notification
        </md-checkbox>
      </div>

      <div style="margin-top: 2%">
        <button md-button style="float: right; margin-right: 47%; border:1px solid #5bc58e;"
                (click)="updateMailNotificationSettings()">Save
        </button>
        <button md-button style=" margin-left: 2%; border:1px solid #5bc58e;" (click)="uncheckAllNotifications()">Select
          none
        </button>
        <button md-button style="border:1px solid #5bc58e;" (click)="checkAllNotifications()">Select all</button>
      </div>
    </div>
  </div>
</div>
