<md-sidenav-container>
  <md-sidenav style="margin-top: 0.1%" mode="side" opened="true">
    <button md-button routerLink="/settings/notifications" class="side-nav-button" role="button"
            routerLinkActive="active">Notifications
    </button>
    <button md-button routerLink="/settings/profile" class="side-nav-button" role="button" routerLinkActive="active">
      Personal Data
    </button>
    <button md-button routerLink="/settings/subscribe-group" class="side-nav-button" role="button"
            routerLinkActive="active">Group Settings
    </button>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
