<button class="adminBtn" md-button (click)="changeUserRole('USER')"
        *ngIf="user.role=='ADMIN'">Remove Admin
</button>

<button class="adminBtn" md-button (click)="changeUserRole('ADMIN')"
        *ngIf="user.role=='USER'">Promote to Admin
</button>
