<app-add-comment [currentEventId]="currentEventId" (newCommentAdded)="commentEmitted()"></app-add-comment>
<div class="commentSection">
  <i class="material-icons">comment</i>
  <h3> {{comments.length}} Comments</h3>
  <app-comment *ngFor="let comment of comments | slice:0:[commentSectionExpansion.loaded]"
               [comment]="comment"></app-comment>
  <button *ngIf="commentSectionExpansion.total>commentSectionExpansion.limit" class="moreComments" md-raised-button
          (click)="commentSectionExpansion.load('More comments')">{{commentSectionExpansion.buttonText}}
  </button>
</div>


