<fieldset class="rating">
  <input type="radio" id="5" name="rating" value="5"/><label class="star" [ngClass]="{'gold' : rating >= 4.5}" for="5"
                                                             title="Rocks!">5 stars</label>
  <input type="radio" id="4" name="rating" value="4"/><label class="star" [ngClass]="{'gold' : rating  >= 3.5}" for="4"
                                                             title="Pretty good">4 stars</label>
  <input type="radio" id="3" name="rating" value="3"/><label class="star" [ngClass]="{'gold' : rating >= 2.5}" for="3"
                                                             title="Meh">3 stars</label>
  <input type="radio" id="2" name="rating" value="2"/><label class="star" [ngClass]="{'gold' : rating >= 1.5}" for="2"
                                                             title="Kinda bad">2 stars</label>
  <input type="radio" id="1" name="rating" value="1"/><label class="star" [ngClass]="{'gold' : rating >= 0.5}" for="1"
                                                             title="Sucks big time">1
  star</label>
</fieldset>
