fieldset {
  border: none;
}

.rating {
  float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  font-size: 200%;
  line-height: 1.2;
}

.rating:not(:checked) > label:before {
  content: '☆ ';
}

.rating.gold:not(:checked) > label:before {
  content: '★ ';
}

.rating > label:active {

  position: relative;
}

.gold {
  content: '★ ';
  color: #EEAD22;
  width: 100px;
}

