md-chip-list.mat-chip-list {
  display: inline-block;
}

.mat-chip:not(.mat-basic-chip) {
  margin-right: 10px;
  margin-bottom: 10px;
}

md-card {
  border-right: 1px solid #5bc58e;
  border-bottom: 1px solid #5bc58e;
  margin: 3%;
  min-height: 20.5%;
}

md-card-content {
  margin-top: 10%;
}
