<app-add-group (newGroupAdded)="addToGroups($event)"></app-add-group>
<md-card style="width:50%;">
  <md-card-subtitle style="float:left;color:#707070;font-size:17px;">All available groups</md-card-subtitle>
  <md-card-content>
    <md-chip-list *ngFor="let group of groups">
      <md-chip class="group-chip" color="primary">
        {{group.name}}
        <md-icon mdChipRemove (click)="remove(group.name)"> cancel</md-icon>
      </md-chip>
    </md-chip-list>
  </md-card-content>
</md-card>
