<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="event-wrapper">
  <md-card class="events-card">
    <md-card-header>
      <md-card-subtitle>
        <span *ngIf="isStillLogin">{{event.date | date: 'dd.MM.yyyy, H:mm'}}</span>
        <span *ngIf="!isStillLogin">{{event.date | date: 'MM.yyyy'}}</span>
      </md-card-subtitle>
      <span class="subscription-type" *ngIf="event.subscriptionType != undefined && event.subscriptionType != 'NOT_GOING'"> {{event.subscriptionType | removeUnderscore | lowercase | capitalize}}</span>
      <md-card-title>
        <span class="event-status-span"
              [ngClass]="{'green-background' : event.status === 'OPEN_FOR_ENROLLMENT', 'grey-background' : event.status === 'CLOSED', 'orange-background' : event.status === 'CLOSED_FOR_ENROLLMENT', 'red-background' : event.status === 'CANCELLED'}">
          {{event.status | removeUnderscore | lowercase | capitalize}}</span>
        <p class="event-name">{{event.name}}</p>
      </md-card-title>
    </md-card-header>
    <div md-card-image>
      <img class="event-image-card" *ngIf="event.havingPicture" style="height: 20em; object-fit: contain"
           md-card-lg-image
           [src]="getPictureName()"
           onerror="this.src='http://x.kinja-static.com/assets/images/logos/placeholders/default.png'">
      <img class="event-image-card" *ngIf="!event.havingPicture" style="height: 20em; object-fit: contain"
           md-card-lg-image
           src="https://x.kinja-static.com/assets/images/logos/placeholders/default.png">
    </div>
    <md-card-content>
      <p class="ellipsis">
        <md-icon class="location-icon">location_on</md-icon> {{event.location}}
      </p>
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
  </md-card>
</div>
