.event-wrapper {
  width: 85%;
  height: 70%;
}

.mat-card {
  width: 90%;
  height: 90%;
}

.mat-card:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.40), 0 2px 2px 0 rgba(0, 0, 0, 0.40), 0 1px 5px 0 rgba(0, 0, 0, 0.40);
}

.mat-card-header {
  width: 90%;
  height: 150px;
  margin-bottom: -20%;
}

.mat-card-header-text {
  height: auto;
  margin: 0;
}

.mat-card-title {
  height: 60px;
  margin-top: -5px;
  margin-left: -19px;
  width: 204px;
}

.event-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}

.mat-card-title p {
  width: 100%;
  height: 25px;
  font-size: 21px;
  font-family: Calibri, sans-serif;
}

.mat-card-subtitle {
  margin-left: -18px;
  margin-top: -15px;
}

.events-card mat-card {
  display: inline;
}

.subscription-type {
  font-family: Calibri, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-size: 13px;
}

.mat-card-content p {
  height: 40px;
  width: 100%;
  margin-left: -10%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red-background {
  background-color: rgba(211, 82, 59, 0.45);
  font-family: Calibri, sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 1px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  width: 100%;
}

.green-background {
  background-color: rgba(105, 236, 172, 0.45);
  font-family: Calibri, sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 1px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  width: 100%;
}

.grey-background {
  background-color: rgba(150, 150, 150, 0.45);
  font-family: Calibri, sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 1px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  width: 100%;
}

.orange-background {
  background-color: rgba(197, 126, 0, 0.45);
  font-family: Calibri, sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 1px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  width: 100%;
}

.mat-card-content {
  margin: 0;
  height: 15px;
}

.mat-card-content[_ngcontent-c10] p[_ngcontent-c10] {
  height: 25px;
}

.mat-card-image {
  display: block;
  width: 240px;
  height: 120px;
  position: relative;
}

.event-image-card {
  display: block;
  max-width: 240px;
  max-height: 120px;
  margin: auto;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
