<form [formGroup]="feedbackForm" (submit)="addFeedback()" *ngIf="!formDisabled" >
	<md-form-field class="feedbackField" >
	
	<input mdInput style="padding-left:1%;" #message maxlength="255" 
	placeholder="Add a feedback" formControlName="feedbackContent" (focus)="inFocus = true" (blur)="inFocus = false">
	<md-hint style="color: red" align="start" *ngIf="isEmptyCommentContext() && inFocus">
		Fedback must contain more than 2 letters.
	</md-hint>
	<md-hint align="end">{{message.value.length}}/ 255</md-hint> </md-form-field>
	
	 <span mdTooltip="Feedback can be added only if the event has passed.">
		 <button md-raised-button type="submit" class="postFeedback">Submit</button>
	 </span>

	<fieldset>
			<span class="star-cb-group">
	      <input formControlName="feedbackRating" type="radio" id="rating-5" name="feedbackRating" value="5"/><label
        for="rating-5">5</label>
	      <input formControlName="feedbackRating" type="radio" id="rating-4" name="feedbackRating" value="4"/><label
        for="rating-4">4</label>
	      <input formControlName="feedbackRating" type="radio" id="rating-3" name="feedbackRating" value="3"/><label
        for="rating-3">3</label>
	      <input formControlName="feedbackRating" type="radio" id="rating-2" name="feedbackRating" value="2"/><label
        for="rating-2">2</label>
	      <input formControlName="feedbackRating" type="radio" id="rating-1" name="feedbackRating" value="1"/><label
        for="rating-1">1</label>
	    </span>
  </fieldset>
</form>
<p class="message" *ngIf="formDisabled">Feedback can be added only once if you have attended the event and it is closed.</p>