<span *ngIf="!isLogin">
  <button id="sign-up-button" md-button (click)="openDialogSignUp()">Sign up</button>
</span>

<span *ngIf="!isLogin">
  <button id="sign-in-button" md-button (click)="openDialogSignIn()">Login</button>
</span>

<span *ngIf="isLogin">
  <button id="logout-button" md-button (click)="logout()">Logout</button>
</span>
