#logout-button {
  border: 1px solid #5bc58e;
}

img {
  width: 7%;
  height: 7%;
}

div {
  min-width: 1%;
}

#sign-in-button {
  border: 1px solid #5bc58e;
}

#sign-up-button {
  border: 1px solid #5bc58e;
}
