.mat-expansion-panel {
  margin: 1% 50px 50px;
  position: relative;
}

.mat-expansion-panel-content {
  overflow: hidden;
  margin-top: -35px;
  margin-left: 70px;
}

.mat-raised-button {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.65;
}

.mat-raised-button:hover {
  opacity: 1;
}

.eventsComponent {
  display: inline-block;
  width: 250px;
  margin: 1%;
}

.eventsComponent:focus {
  outline: none;
  border: 0;
}

.events-section-wrapper {
  width: 98%;
  margin: auto;
}

.spinner {
	margin-left:48%;
	padding:1%;
}

.buttonExpand {
	position: relative;
    opacity: 0.65;
    display: block;
    left: 45%;
}
