<md-expansion-panel [expanded]="myEvents.length > 0 || !sectionOneLoaded">
  <md-expansion-panel-header>
    <md-panel-title>
      My events
    </md-panel-title>
    <md-panel-description>
    </md-panel-description>
  </md-expansion-panel-header>
  <div class="events-section-wrapper" *ngIf="sectionOneLoaded">
    <div class="eventsComponent"
         *ngFor="let event of myEvents | slice:0:[myEventsSectionExpansion.loaded]"
         [routerLink]="['/events', event.id ]">
      <app-event [event]="event"></app-event>
    </div>
    <button *ngIf="myEventsSectionExpansion.total>myEventsSectionExpansion.limit" md-raised-button
            (click)="myEventsSectionExpansion.load('More')" class="buttonExpand">{{myEventsSectionExpansion.buttonText}}
    </button>
  </div>
 
  <div class="events-section-wrapper">
	<div *ngIf="!sectionOneLoaded" class="spinner">
	  <md-progress-spinner strokeWidth="6" mode="indeterminate">Loading...</md-progress-spinner>
	</div>
  </div>
  
</md-expansion-panel>

<md-expansion-panel [expanded]="eventsInMyGroups.length > 0 || !sectionTwoLoaded">
  <md-expansion-panel-header>
    <md-panel-title>
      Events in my groups
    </md-panel-title>
    <md-panel-description>
    </md-panel-description>
  </md-expansion-panel-header>
  <div class="events-section-wrapper" *ngIf="sectionTwoLoaded">
    <div class="eventsComponent"
         *ngFor="let event of eventsInMyGroups | slice:0:[inMyGroupsSectionExpansion.loaded]"
         [routerLink]="['/events', event.id ]">
      <app-event [event]="event"></app-event>
    </div>
    <button *ngIf="inMyGroupsSectionExpansion.total>inMyGroupsSectionExpansion.limit" md-raised-button
            (click)="inMyGroupsSectionExpansion.load('More')" class="buttonExpand">{{inMyGroupsSectionExpansion.buttonText}}
    </button>
  </div>
  <div class="events-section-wrapper">
	<div *ngIf="!sectionTwoLoaded" class="spinner">
	  <md-progress-spinner strokeWidth="6" mode="indeterminate">Loading...</md-progress-spinner>
	</div>
  </div>
</md-expansion-panel>

<md-expansion-panel [expanded]="otherEvents.length > 0 || !sectionThreeLoaded">
  <md-expansion-panel-header>
    <md-panel-title>
      Other events
    </md-panel-title>
    <md-panel-description>
    </md-panel-description>
  </md-expansion-panel-header>
  <div class="events-section-wrapper" *ngIf="sectionThreeLoaded">
    <div class="eventsComponent"
         *ngFor="let event of otherEvents | slice:0:[otherEventsSectionExpansion.loaded]"
         [routerLink]="['/events', event.id ]">
      <app-event [event]="event"></app-event>
    </div>
    <button *ngIf="otherEventsSectionExpansion.total>otherEventsSectionExpansion.limit" md-raised-button
            (click)="otherEventsSectionExpansion.load('More')" class="buttonExpand">{{otherEventsSectionExpansion.buttonText}}
    </button>
  </div>  
  <div class="events-section-wrapper">
	<div *ngIf="!sectionThreeLoaded" class="spinner">
	  <md-progress-spinner strokeWidth="6" mode="indeterminate">Loading...</md-progress-spinner>
	</div>
  </div>
</md-expansion-panel>
