<h1 md-dialog-title>Edit Event</h1>
<form [formGroup]="editEventForm">

  <md-dialog-content>
    <md-form-field>
      <input mdInput formControlName="name" maxlength="49" placeholder="Name*">
      <md-error>Name must contain at least {{minNameLength}} characters.</md-error>
    </md-form-field>

    <md-form-field>
      <input mdInput formControlName="location" maxlength="254" placeholder="Location*">
      <md-error>Location must contain at least {{minLocationLength}} characters.</md-error>
    </md-form-field>

    <md-form-field>
      <input readonly mdInput [ngModelOptions]="{standalone: true}" [ngModel]="eventDate" [mdDatepicker]="picker"
             (dateInput)="setEventDate($event)"
             placeholder="Event date*" [min]="minEventDate" (click)="picker.open()">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field>

    <md-form-field>
      <input mdInput placeholder="Event time e.g 15:05*" formControlName="eventTime">
      <md-error>Time format should be hh:mm.</md-error>
    </md-form-field>

    <md-form-field>
      <input readonly mdInput [ngModelOptions]="{standalone: true}" [ngModel]="registrationEndDate"
             [mdDatepicker]="registrationEndPicker" (dateInput)="setRegistrationEndDate($event)"
             placeholder="Registration end date*" [min]="minRegistrationEndDate" (click)="registrationEndPicker.open()">
      <md-hint align="start">Registration date should be before the event date.</md-hint>
      <md-datepicker-toggle mdSuffix [for]="registrationEndPicker"></md-datepicker-toggle>
      <md-datepicker #registrationEndPicker></md-datepicker>
    </md-form-field>

    <md-form-field>
      <input mdInput placeholder="Registration end time e.g 15:05*" formControlName="endTime">
      <md-error>Time format should be hh:mm.</md-error>
    </md-form-field>

    <md-form-field id="description-field">
      <textarea id="description-input" mdInput maxlength="5000" formControlName="description" placeholder="Description"
                #description></textarea>
      <md-hint align="end">{{description.value.length}}/5000</md-hint>
    </md-form-field>

    <md-form-field>
      <input mdInput formControlName="link" maxlength="255" placeholder="Link">
      <md-error>Link format examples: "www.evento.com" or "http://www.evento.com".</md-error>
    </md-form-field>

    <tag-input mdInput [(ngModel)]="chosenGroupNames" formControlName="groups" [onlyFromAutocomplete]="true"
               [secondaryPlaceholder]="placeholder">
      <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="allGroupNames" [appendToBody]="false">
      </tag-input-dropdown>
    </tag-input>

  </md-dialog-content>
  <md-dialog-actions>
    <button md-button type="button" (click)="onCancel()">Cancel</button>
    <button md-button
            type="submit"
            [disabled]="!editEventForm.valid||eventDate<registrationEndDate"
            (click)="onSubmit()">
      Save
    </button>
  </md-dialog-actions>
</form>
