h1 {
  text-align: center;
}

p {
  text-align: right;
  font-size: 55%;
  width: 95%;
  margin-top: 0;
  margin-bottom: 0%;
}

md-form-field, tag-input {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

textarea {
  height: auto;
}

.inline {
  display: inline;
}
