<md-toolbar id="toolbar">
  <a id="home-button" class="logoBtn" (click)="onHomeClick()">
    <img src="/assets/images/logo.png" alt="Evento">
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button *ngIf="currentUser.role==='ADMIN'" md-button (click)="onAdminPanelClick()">Admin Panel</button>
  <button *ngIf="isLogin && isTermsAccepted"  md-button (click)="openCalendar()">Calendar<md-icon>event</md-icon></button>
  <span *ngIf="isLogin && isTermsAccepted"><app-create-new-event></app-create-new-event></span>
  <span *ngIf="isLogin"> <app-user-settings></app-user-settings> </span>
  <span><app-login></app-login></span>
</md-toolbar>
