.example-fill-remaining-space {
  flex: 1 1 auto;
}

img {
  height: 50px;
}

#home-button {
  padding: 0%;
  min-width: 60px;
  min-height: 60px;
}

#toolbar {
  background-color: #e7e7e7;
   position: fixed;
   top: 0;
   z-index:999;
}

.logoBtn {
  margin-top: 0.9%;
  cursor: pointer;
}
