<div style="margin-top: 1%" layout="row" layout-wrap>
  <div flex="100" flex-gt-sm="50" layout="column">
    <div>
      <div style="margin-left: 1.2%">
        <div style="width: 44%; display: inline-block">
          <span class="info">Subscribe for a group</span>
        </div>
        <div style="width: 10%; display: inline-block">
          <span class="info">Notify me</span>
        </div>
      </div>
      <div style="margin-top:  0.8%;" *ngFor="let group of groups">
        <div style="width: 43%; margin-left: 2%; display: block; float: left">
          <md-checkbox  color="primary" [checked]="isUserSubscribedForGroup(group)"
                       (change)="subscribeUserForGroup(group)">{{group.name}}
          </md-checkbox>
        </div>
        <div>
          <md-slide-toggle  color="primary" [checked]="isUserSubscribedForNotification(group)"
                           (change)="notifyUserForGroup(group)"
                           [disabled]="!isUserSubscribedForGroup(group)"></md-slide-toggle>
        </div>
      </div>
    </div>
    <div style="margin-top: 2%">
      <button md-button style="float: right; margin-right: 47%; border:1px solid #5bc58e;"
              (click)="updateGroupSettings()">Save
      </button>
      <button md-button style="margin-left:2%; border:1px solid #5bc58e;" (click)="uncheckAllNotifications()">Select
        none
      </button>
      <button md-button style="border:1px solid #5bc58e;" (click)="checkAllNotifications()">Select all</button>
    </div>
  </div>

</div>

