<form [formGroup]="commentForm" (submit)="addComment()">
  <md-form-field class="commentField">
    <input mdInput style="padding-left:1%;" #message maxlength="255"
           placeholder="Add a comment" formControlName="commentContent"
           (focus)="inFocus = true" (blur)="inFocus = false">
    <md-hint align="start" *ngIf="inFocus">
      Comments must contain at least 2 characters.
    </md-hint>
    <md-hint align="end">{{message.value.length}}/ 255</md-hint>
  </md-form-field>
  <button md-raised-button type="submit" class="postComment" [disabled]="isEmptyCommentContext()">Submit</button>
</form>
