<div style="margin-top: 1%" layout="row" layout-wrap>
  <div flex="100" flex-gt-sm="50" layout="column">
    <span class="info">Edit personal data </span>
    <form style="margin-left: 2%">

      <div>Your current email is {{currentUser.email}}</div>

      <div>
        <md-form-field>
          <input mdInput placeholder="New e-mail" type="text" class="form-control" id="newEmail"
                 [(ngModel)]="changedEmail.newEmail" (change)="checkEmail()" maxlength="99"
                 name="newEmail">
          <md-hint *ngIf="isEmailExists">This e-mail is already taken.</md-hint>
        </md-form-field>
      </div>

      <div>
        <md-form-field>
          <input mdInput placeholder="New display name" type="text" class="form-control" id="newDisplayName"
                 [(ngModel)]="displayName" maxlength="40"
                 name="newDisplayName">
        </md-form-field>
      </div>

      <div>
        <button md-button style="margin-top: 2% ;border:1px solid #5bc58e;" type="submit" class="btn btn-success"
                (click)="changeDetails()">Save
        </button>
      </div>
    </form>
  </div>
</div>
