.dateOfCreation {
  color: #808080;
  font-size: 12px;
  width: 100%;
}

.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 1%;
  width: 50%;
  padding: 1.2%;
  background: rgba(0, 0, 0, 0.04);
  min-width: 50%;
  max-width: 50%;
}

md-card-content {
  margin-left: 9%;
  padding-left: 7%;
  word-wrap: break-word;
}

md-card-title {
  margin-left: 6%;
  width: 100%;

}

md-card-header {
  height: 20px;
  border-bottom: 0.5px solid #ccc;
  margin-bottom: 3%;
}

.creatorAvatar {
  border-radius: 3%;
  height: 130%;
  width: 130%;
  margin-right: 150px;
}
