<md-card class="card" mdFlex>
  <md-card-header>
    <div md-card-avatar><img class="creatorAvatar" src="{{comment.creator.pictureURL}}"/></div>
    <md-card-title>{{comment.creator.name}}, <span class="dateOfCreation"> {{comment.dateOfCreation | date: 'dd.MM.yyyy, H:mm'}}</span>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    {{comment.content}}
  </md-card-content>
</md-card>
