<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<button md-raised-button (click)="openDialog()" [disabled]="disableEditButton()">Edit
  <md-icon class="material-icons">mode_edit</md-icon>
</button>
