<p class="title">Modify user rights</p>
<md-card>
  <div class="cardContent">
    <md-form-field class="emailFilter">
      <input class="emailFilter" mdInput placeholder="Search by user e-mail" [(ngModel)]="mailFilter.email"
             aria-label="Number">
    </md-form-field>
    <button (click)="generateStatistics()" class="reportBtn" md-button
            style="color:white;background-color: #5bc58e;margin-left:450px; "> Global Report
    </button>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th><span style="margin-left:40px;" mdTooltip="You cannot change your own role.">Edit role</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | filterBy : mailFilter | slice:0:[sectionExpansion.loaded]">
        <td><img src="{{user.pictureURL}}" style="width:26px;height:26px"/></td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td style="font-weight:600;color:#505050;">{{user.role | lowercase }}</td>
        <td>
          <app-change-role *ngIf="user.id !== currentUserId" [user]="user"
                           (changeRole)="change($event)"></app-change-role>
        </td>
        <td>
          <button (click)="generateUserReport(user.id)" class="reportBtn" md-button
                  style="color:white;background-color: #5bc58e;margin-left:30px; ">
            Export report
          </button>
        </td>
      </tr>
      
      <div style="padding:3%;color:#808080;" *ngIf="(users | filterBy: mailFilter).length === 0">
        <tr>No users matching this e-mail</tr>
      </div>

      </tbody>
    </table>
    <button
      *ngIf="sectionExpansion.limit < sectionExpansion.total && (users | filterBy: mailFilter).length > sectionExpansion.limit"
      md-raised-button (click)="sectionExpansion.load('More users')">{{sectionExpansion.buttonText}}
    </button>
  </div>
</md-card>
