table {
  margin-top: 2%;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-left: 3%;
}

th {
  color: #999999;
  text-decoration: none;
  font-weight: lighter;
  font-size: 13px;
}

tr:hover {
  background-color: #f5f5f5
}

.emailFilter {
  width: 40%;
  padding-bottom: 2%;
}

.cardContent {
  margin-left: 3%;
}

.title {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #707070;
  margin: 3%;
  font-size: 18px;
}
