@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}
.primary-color {
  color: #5bc58e !important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
  background-color:#5bc58e;
}
.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color:#99dbba;
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color:#5bc58e;
}

.mat-form-field-ripple {
  background-color:#5bc58e ;
}

.active {
  /*TODO: CSS FOR ACTIVE ROUTE*/
}


.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(91, 197, 142, 0.26);
}

.mat-focused .mat-form-field-placeholder {
  color: rgb(91, 197, 142);
}


span.info {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-primary .mat-pseudo-checkbox-checked{
  background-color:#5bc58e;
  color:#5bc58e;
}

.mat-primary .mat-option.mat-selected{
  color:#505050;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: #5bc58e;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
  background-color: #5bc58e;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #5bc58e;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color:#5bc58e;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:#5bc58e;
}

div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
	color:#303030;
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(91, 197, 142, 0.26)
}

md-hint {
  color: #5bc58e !important;
}

.location-icon {
	color:rgba(0,0,0,0.4);
}

.mat-progress-spinner{
	width: 45px !important;
	height: 45px !important;
}

.mat-progress-spinner path {
	stroke: #5bc58e !important;
}

.mat-slide-toggle.mat-primary .mat-ripple-element {
  background-color: rgba(91, 197, 142, 0.26);
}

