<h1 md-dialog-title>Sign Up</h1>
<form [formGroup]="newUserForm">

  <p class="signInText">Sign up with Google account</p>
  <md-dialog-content>
    <div>
      <button md-button class="loginBtn loginBtn--google" (click)="googleLogIn()" type="button">Google sign up</button>
      <hr class="signInBorder">
    </div>
    <p class="signInText">Sign up with Evento account</p>
    <div>
      <md-form-field style="display: inline-block;">
        <input mdInput maxlength="150" style="" formControlName="username" (change)="checkUsername()" placeholder="Username*">
        <md-hint style="color:red !important;" *ngIf="isUsernameExists">This username is already taken.</md-hint>
        <md-error>Username must be at least 3 characters.</md-error>
      </md-form-field>
    </div>


    <div>
      <md-form-field style="display: inline-block">
        <input mdInput maxlength="150" formControlName="displayName" (click)="checkUsername()" placeholder="Display name*">
        <md-error>Display name must be at least 3 characters.</md-error>

      </md-form-field>
    </div>

    <div>
      <md-form-field style="display: inline-block">
        <input mdInput maxlength="150" formControlName="email" (change)="checkEmail()" placeholder="E-mail*">
        <md-hint style="color: red !important;" *ngIf="isEmailExits">This e-mail is already taken.</md-hint>
        <md-error>E-mail must be at least 3 characters.</md-error>
      </md-form-field>
    </div>

    <div>
      <md-form-field style="display: inline-block">
        <input mdInput formControlName="confirmMail" (click)="checkEmail()" placeholder="Confirm e-mail*">
      </md-form-field>
    </div>

    <div>
      <md-form-field style="display: inline-block">
        <input mdInput
               mdTooltip=" "
               type="password" formControlName="password" placeholder="Password*" (change)="hidePasswordHint()"
               (keyup)="isPatternMatched()">
        <p style="display:block; font-size: 10px" [ngClass]="upperCaseColor" *ngIf="hasUpperCase">Must contain at least
          one uppercase letter.</p>
        <p style="display:block; font-size: 10px" [ngClass]="lowerCaseColor" *ngIf="hasLowerCase">Must contain at least
          one lowercase letter.</p>
        <p style="display:block; font-size: 10px;" [ngClass]="digitColor" *ngIf="hasAtleastOneDigit">Must contain at
          least one digit.</p>
        <p style="display:block; font-size: 10px" [ngClass]="minLengthColor" *ngIf="isMinLengthReached">Minimum length 8
          characters.</p>
      </md-form-field>
    </div>

    <br *ngIf="isPasswordRegExMatch">
    <div>
      <md-form-field style="display: inline-block">
        <input mdInput type="password" formControlName="confirmPassword" (keyup)="isPasswordsMatch()"
               placeholder="Confirm Password*">
        <md-hint style="color:red !important;" *ngIf="isPasswordsAreMatching">The password doesn't match!</md-hint>

      </md-form-field>
    </div>
    <md-checkbox style="margin-left:5%;font-size:13px;" color="primary" (change)="acceptTermsAndConditions()"> I accept
      the <a target="_blank" style="font-size:13px;" routerLink="termsAndConditions">terms and conditions</a>.
    </md-checkbox>
  </md-dialog-content>
  <div>
    <md-dialog-actions>
      <button md-button (click)="onCancel()" type="button">Cancel</button>
      <button md-button
              [disabled]="!newUserForm.valid || isUsernameExists || isEmailExits || !isTermsAndConditionsAccepted"
              type="submit"
              (click)="onSubmit()">
        Sign up
      </button>
    </md-dialog-actions>
  </div>
</form>
