md-form-field, tag-input {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

textarea {
  height: auto;
}

.inline {
  display: inline;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
  background: #DD4B39;
}

.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.signInText {
  color: #808080;
  font-size: 13px;
  padding-top: 1em;
  padding-bottom: 0.3em;
}

.signInBorder {
  border: none;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 1.0em
}

.signInField {
  width: 90%;
}

.green{
  color: green !important;
}
.red {
  color: red !important;
}
