<form [formGroup]="addGroupForm" (submit)="addGroup()">
  <p class="title">Add/remove groups</p>
  <md-form-field class="groupField">
    <input mdInput autocomplete="off" class="addGroup" placeholder="Group name" formControlName="groupName"
           (focus)="inFocus = true" (blur)="inFocus = false" maxlength="40">
    <md-hint align="start" *ngIf="inFocus">
      Group name must contain at least 2 letters. Already existing groups will not be added.
    </md-hint>
  </md-form-field>
  <button md-raised-button type="submit" [disabled]="isEmptyGroupName()">Add</button>
</form>
