.addGroup {
  margin: 1%;
  width: 40%;
}

.groupField {
  width: 50%;
  padding-left: 3%;
}

.title {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding-bottom: 1%;
  color: #707070;
  margin: 3%;
  font-size: 18px;
}
