.eventsComponent {
  display: inline-block;
  width: 250px;
  margin: 1%;
}

.home-events-wrapper {
  width: 90%;
  margin: auto;
}

.eventsComponent:focus {
  outline: none;
  border: 0;
}

md-expansion-panel {
  margin-top:4% !important;
}

