<app-dashboard *ngIf="isStillLogin"></app-dashboard>

<md-expansion-panel *ngIf="!isStillLogin" [expanded]="eventsThatWillBeDisplayOnlyIfThereIsNotUser.length > 0" style="margin-bottom:10%;">
  <md-expansion-panel-header>
    <md-panel-description>
    </md-panel-description>
  </md-expansion-panel-header>

  <div class="home-events-wrapper">
    <div class="eventsComponent"
         *ngFor="let event of eventsThatWillBeDisplayOnlyIfThereIsNotUser | slice:0:[eventsSectionExpansion.loaded]"
         [routerLink]="['/events', event.id ]">
      <app-event [event]="event"></app-event>
    </div>
  </div>
  <button
    *ngIf="eventsSectionExpansion.total>eventsSectionExpansion.limit"
    md-raised-button (click)="eventsSectionExpansion">{{eventsSectionExpansion.buttonText}}
  </button>
</md-expansion-panel>
