<md-sidenav-container>
  <md-sidenav mode="side" opened="true">
    <button md-button routerLink="/admin-panel/groups" class="side-nav-button" role="button" routerLinkActive="active">
      Add/Remove groups
    </button>
    <button md-button routerLink="/admin-panel/users" class="side-nav-button" role="button" routerLinkActive="active">
      User panel
    </button>
    <button md-button routerLink="/admin-panel/upload" class="side-nav-button" role="button" routerLinkActive="active">
      Upload template
    </button>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>

