html, body, .mat-drawer-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.side-nav-button {
  width: 150px;
  border: 1px solid #5bc58e;
}

.side-nav-button.active {
  width: 150px;
  background-color: rgba(15, 3, 63, 0.34);
  border: 1px solid #5bc58e;
}

md-sidenav {
  width: 150px;
}

md-card {
  min-height: 500px;
}

md-sidenav-container {
  margin-top:5% !important;
}


