<div class="calendar-wrapper">
  <div class="calendar-legend">
    <span id="createdByMe">Created By Me</span>
    <span id="going">Going</span>
    <span id="interested">Interested</span>
  </div>
  <p-schedule [events]="calendarEvents" (onEventClick)="goToEvent($event)"></p-schedule>
</div>

