.calendar-wrapper {
  width: 85%;
  margin: 6% auto auto;
  padding-top: 1%;
  padding-bottom: 3%;
}

.calendar-wrapper * {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

h2 {
  margin-top: 2%;
}

.fc-bgevent {
  background: #5bc58e !important;
  opacity: .3;
}

.fc-event {
  position: relative;
  display: block;
  font-size: .85em;
  line-height: 1.3;
  border: 1px solid #5bc58e;
  border-radius: 0;
}

.fc-event,
.fc-event-dot {
  background-color: #5bc58e;
}

.fc-event,
.fc-event:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.fc-event .fc-bg {
  z-index: 1;
  background: #fff;
  opacity: .25;
}

.ui-state-highlight {
  border: 10px solid rgba(145, 145, 145, 0.19);
  background: rgba(145, 145, 145, 0.19);
  color: rgba(35, 35, 35, 0.85);
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
  border: 0;
  color: #FFFFFF;
  background: #5bc58e;
}

.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus {
  border: 0;
  color: #FFFFFF;
  background: #5bc58e;
}

.calendar-legend {
  float: right;
  margin-left: 25%;

}

.calendar-legend span {
  display: inline-block;
  color: #fdfeff;
  font-size: 14px;
  padding: 5px;
}

#createdByMe {
  background-color: #9575CD;
}

#going {
  background-color: #9CCC65;
}

#interested {
  background-color: #00BCD4;
}

@media (max-width: 1000px) and (min-width: 700px){
  .calendar-wrapper {
    margin: 8% auto auto;
  }
}

@media (max-width: 699px) and (min-width: 410px){
  .calendar-wrapper {
    margin: 12% auto auto;
  }
}

@media (max-width: 409px){
  .calendar-wrapper {
    margin: 17% auto auto;
  }
}

